In [1]:
import yfinance as yf

In [2]:
Tesla = yf.Ticker("Tesla")

In [3]:
Tesla_data = Tesla.history(period="max")

TESLA: No data found, symbol may be delisted

In [8]:
Tesla_data.reset_index(inplace=True)

In [9]:
Tesla_data.head()

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

In [10]:
Tesla_revenue = yf.Ticker("Tesla")

In [11]:
Tesla_revenue = Tesla.history(period="max")

TESLA: No timezone found, symbol may be delisted

In [12]:
Tesla_data.reset_index(inplace=True)

In [31]:
Tesla_revenue.tail()

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [26]:
import yfinance as yf

In [27]:
gme = yf.Ticker("GME")

In [28]:
gme_data = gme.history(period="max")

In [29]:
gme_data.reset_index(inplace=True)

In [30]:
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658001,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [35]:
import yfinance as yf

In [36]:
gme = yf.Ticker("GME")

In [37]:
gme_revenue = gme.history(period="max")

In [38]:
gme_revenue.reset_index(inplace=True)

In [39]:
gme_revenue.tail()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
5450,2023-10-09 00:00:00-04:00,14.77,15.500000,14.72,15.40,2276300,0.0,0.0
5451,2023-10-10 00:00:00-04:00,15.50,16.190001,15.40,16.00,2915900,0.0,0.0
5452,2023-10-11 00:00:00-04:00,16.01,16.090000,15.74,15.82,2098200,0.0,0.0
5453,2023-10-12 00:00:00-04:00,15.77,15.800000,14.82,15.09,3180300,0.0,0.0
5454,2023-10-13 00:00:00-04:00,14.92,15.110000,14.78,14.92,1823300,0.0,0.0

In [ ]:
import yfinance as yf

In [ ]:
Tesla = yf.Ticker("TSLA")

In [43]:
Tesla_data = Tesla.history(period="max")

TESLA: No timezone found, symbol may be delisted

In [ ]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [ ]:
gme = yf.Ticker("GME")
gme_stock_data = gme.history(period="max")

In [ ]:

url = 'https://www.macrotrends.net/stocks/charts/GME/gamestop/revenue'
html_data = requests.get(url).text
soup = BeautifulSoup(html_data, 'html.parser')
table = soup.find_all('table')[1]
gme_revenue_data = pd.read_html(str(table))[0

In [58]:
make_graph(gme_stock_data, gme_revenue_data, 'GameStop')

NameError: name 'gme_stock_data' is not defined